main{
    text-align: center;   
    background-color: white;
}
main button{
    border-radius: 10px;
    width: 150px;
    height: 100px;
    margin: auto 10px;
} 
button:active{
    color: black;
}
.lightbox{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: none;
}
.lightboxprob{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: 5px solid black;	
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
    display: none;
}
.lightboxprob a{
    color: white;
    background-color: blue;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#cancel{
    width: 60px;
    height: 60px;
    left: 65%;
    position: relative;
    display: none;
    
}