form{
    margin: auto;
    text-align: center;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    width: 1024px;
    left: 50%;
    margin-left: -512px;
    padding-top: 5%;
}
p{
    display: inline;
}
main{
    width: 100%;
    height: 100%;
    margin: auto;
}
h1{
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
input[type=submit]{
    width: 90px;
    height: 32px;
    border: 5px;
    border-radius: 5px;
    background-color: skyblue; 
}
input[type=email]{
    height: 32px;
    width: 500px;
    border: 0;
    border-radius: 5px;
    background-color: #dbdbdb;
    padding-left:8px;
}
input[type=text]{
    height: 32px;
    width: 500px;
    border: 0;
    border-radius:5px;
    background-color: #dbdbdb;
    padding-left:8px;
}
input[type=password]{
    height: 32px;
    width: 500px;
    border: 0;
    border-radius: 5px;
    background-color: #dbdbdb;
    padding-left:8px;
}