<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet"type = "text/css" href = "/basic.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href = "/challenge.css"/>
    <title>challenge</title>
</head>
<body>
    <header>
        <a href='/' id='title'>WOW CTF</a>
        <nav id="menu">
            <a href="/profile" id='profile'><%= name %></a>
            <a href='/notice' id='notice'>Notice</a>
            <a href="/challenge" id="challenge"><b>Challenge</b></a>
            <a href="/rank" id='rank'>Rank</a>
            </nav>
    </header>
    <main>
        <div id="rev">
            <h2>REV</h2>
        </div>
        <div id="pwn">
            <h2>PWN</h2>
        </div>
        <div id="web">
            <h2>WEB</h2>
        </div>
        <div id="misc">
            <h2>MISC</h2>
        </div>
    </main>
    <script>
        var i = document.createElement('button');
        //i.setAttribute('onclick','showimage()');
        i.setAttribute('id','asdf');
        var parent = document.getElementById('rev');
        parent.appendChild(i);
        var o = document.createElement('h1');
        o.setAttribute('id','smalltitle');
        o.innerText="bbbb";
        var parent =document.getElementById('asdf');
        parent.appendChild(o);
        var t = document.createElement('p');
        t.setAttribute('id','score');
        t.innerText = "100";
        parent.appendChild(t);
    </script>
</body>
</html>