<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet"type = "text/css" href = "/basic.css"/>
    <link rel = "stylesheet" type = "text/css" href = "/notice.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkalami&display=swap" rel="stylesheet">
    <title>notice</title>
</head>
<body>
    <header>
        <a href='/' id='title'>WOW CTF</a>
        <nav id="menu">
            <a href="/profile" id='profile'><%= name %></a>
            <a href='/notice' id='notice'><b>Notice</b></a>
            <a href="/challenge" id="challenge">Challenge</a>
            <a href="/rank" id='rank'>Rank</a>
            </nav>
    </header>
    <main id = "main">
        <div>
            <h3>공지입니다</h3>
            <br>
            <h4>0지입니다</h4>
        </div>
    </main>
</body>
<script>
    var a = document.createElement('div');
    a.setAttribute('id','asdf');
    var parent = document.getElementById('main');
    parent.appendChild(a);
</script>
</html>