<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/basic.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>WOW CTF</title>
</head>
<body>
    <div>
        <div>
            <a href='/' id='main'>ㅤWOW CTF</a>
            <% if(login != true) { %>
            <a href="/login" id='login'>Login</a>
            <a href="/register" id=register>Register</a>
            <% } else{ %>
            <a href="/profile" id='profile'><%= name %></a>
            <a href='/notice' id='notice'>Notice</a>
            <a href="/problem" id="problem">Problem</a>
            <a href="/rank" id='rank'>Rank</a>
            <% }%>
        </div>
    </div>

</body>
</html>